

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div>
        @Html.Label("Username")
        @Html.TextBox("Username", null, new { @class = "form-control" })
    </div>

    <div>
        @Html.Label("Password")
        @Html.Password("Password", null, new { @class = "form-control" })
    </div>

    <div>
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
}
